#headerDiv {

  font-size: calc(24px + 1vh);
  
}

#subHeadDiv {

  font-size: calc(18px + 1vh);

}

#forwardDiv {

  font-size: calc(12px + 1vh);

}

#taglineDiv {
  
  color:rgba(0, 0, 0, 0.3333);

  font-size: calc(8px + 1vh);

}
